//Color palette

$vermillion: #d33f49;
$charleston: #262730;
$midnight: #0f5257;
$yankees: #0b3142;
$smoke: #F6F5F6;

* {
	font-family: Niramit, Arial, Helvetica, sans-serif;
	font-weight: 600;
	white-space: nowrap;
	margin: 0;
	padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
